.size {
    background-color: rgb(241, 241, 243);
    width: 300px;
    height: 400px;
    align-items: center;
    margin-right: 400px;
}

.card-header {
    background-color: rgb(192, 221, 231);
    font-weight: bold;
    margin-top: 10px;
    height: 30px;
}

.card-body {
    margin: 20px;
}

.doctor-info-table {
    border-collapse: collapse;
    /* Remove table border */
}

.doctor-info-table td {
    padding: 8px;
}

.doctor-info-table b {
    font-weight: bold;
}