.size {
    background-color: rgb(241, 241, 243);
    width: 300px;
    height: 400px;
    align-items: center;
    margin-right: 400px;
}

.card-header {
    background-color: rgb(192, 221, 231);
    font-weight: bold;
    margin-top: 10px;
    height: 30px;
}

.card-body p {
    margin: 20px;
    font-size: 1.1rem;
}

.card-body b {
    font-weight: 50px;
}