.home {
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* .homepage {
    /* background-image: url(https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */


/* height: 100vh;
background-color: aquamarine; */