/* RegisterStyles.css */

.register-container {
    display: flex;
    height: 100vh;
}

.form-container {
    flex: 5;
    padding: 20px;
}

.button-container {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.logoo {
    color: rgb(252, 252, 252);
    position: fixed;
    /* or absolute, depending on your layout */
    top: 10px;
    /* adjust the value as needed */
    right: 450px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* adjust the value as needed */
}

.welcome-back-text {
    color: white;
    margin-bottom: 20px;
}

.statue-image {
    width: 400px;
    height: auto;
    filter: drop-shadow(3);
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1890ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: #40a9ff;
}


/* RegisterStyles.css */

.register-card {
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* Add border for a 3D effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add a box shadow for depth */
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.register-card:hover {
    transform: perspective(1000px) rotateY(10deg);
}