/* .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.block {
    background-image: url(https://i.pinimg.com/736x/21/54/cd/2154cd17b398cf202ab361615fe313af.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


/* .register-form {
    border: 1px solid rgb(220, 204, 204);
    padding: 30px;
} */

Form {
    background-color: rgb(242, 242, 248);
}

.main-text {
    font-size: 31px;
    font-weight: bold;
    text-align: center;
}

.emphasize {
    color: #0073e6;
    font-size: 40px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    width: 100%;
    max-width: 400px;
    /* Adjust the maximum width as needed */
    padding: 20px;
    /* background-color: #ffffff20; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: transparent;
}

.register-form:hover {
    transform: scale(1.02);
    /* Add a slight scale-up effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhance the box shadow on hover */
}

.text-center {
    text-align: center;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #1d3f957d;
    /* Darker color on hover */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    /* border: none; */
    outline: none;
    background: transparent;
}

.pageturn {
    color: red;
}